<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Musa 509 Skeleton Demo</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<style>
.container {
    max-width: 1280px;
}

</style>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body>
    <section class="section hero section-a">
        <div class="container">
            <div class="row">
                <h1>Vacant Buildings in {{ nname }}</h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
          <div class="row">
              <div class="five columns address-list">
                  <table>
                      <thead>
                          <th>Address</th>
                          <th>Building Description</th>
                          <th>OPA Page</th>
                      </thead>
                      <tbody>
                      {% for row in buildings %}
                      <tr>
                          {% for col in row %}
                          {% if loop.index != 3 %}
                              <td>{{ col }}</td>
                          {% else %}
                              <td><a href="https://property.phila.gov/?p={{ col }}">More info</a></td>

                          {% endif %}
                          {% endfor %}

                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>

              <div class="seven columns">
                  <h3><b>{{ num_buildings }}</b> vacant buildings</h3>
                  {{ map_html|safe }}
              </div>
          </div>
        </div>
    </section>
    <section class="section section-c">
        <div class="container">
            <div class="row">
                <a class="button button-primary" href="/">Try another neighborhood</a>
            </div>
        </div>
    </section>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
